/**
  Font
**/
@import '@fontsource-variable/inter';
body {
  font-family: 'Iter Variable', sans-serif;
}

/**
  Globals resets
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

/**
  Utilities
**/

.section {
  padding: 40px 10px;
}