/**
  Globals resets
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

/**
  Utilities
**/

.section {
  padding: 40px 10px;
}